/*div.DTED_Lightbox_Wrapper{
    width:80%;
    left:44%;
}*/

div.DTED_Lightbox_Wrapper {
    width: calc(100% - 270px);
    margin-left: calc((490px - 100%) / 2);
}

div.DTE_Body div.DTE_Body_Content div.DTE_Field{
    padding : 5px;
}

/*div.DTE_Body div.DTE_Body_Content div.DTE_Field > label {
    width:50%;
}

div.DTE_Body div.DTE_Body_Content div.DTE_Field > div.DTE_Field_Input {
    width : 50%;
}*/

div.DTE_Field div.DTE_Field_Info, div.DTE_Field div.DTE_Field_Message, div.DTE_Field div.DTE_Field_Error {
    font-size : 16px;
}








.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding : 8px 2px;
}