@{
    ViewBag.Title = "員工資料";
    //ViewBag.Description = "Home Page";
}

<table id="Employee" class="table table-striped table-bordered dataTable cell-border" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>工號</th>
            <th>姓名</th>
            <th>電話</th>
            <th>手機</th>
            <th>連絡人</th>
            <th>緊急連絡電話</th>
            <th>建立日期</th>
        </tr>
    </thead>
</table>
