
@{
    ViewBag.Title = "點工人事資料";
}
<style>
    tr.row-color > td {
        background-color:#CCCCCC;
    }
</style>

<p>
    <input type="button" value="列印" class="btn btn-success" onclick="window.open('@Url.Action("../Employee/Print")')" />
</p>

<table id='tbEmp' class='table table-striped table-bordered dataTable cell-border' cellspacing='0' width='100%'>
    <thead>
        <tr>
            <th>
                工號
            </th>
            <th>
                姓名
            </th>
            <th>
                電話
            </th>
            <th>
                手機
            </th>
            <th>
                緊急連絡人
            </th>
            <th>
                緊急連絡電話
            </th>
            <th>
                建立日期
            </th>
        </tr>
    </thead>
</table><br />

<table id='tbIns' class='table table-striped table-bordered dataTable cell-border' cellspacing='0' width='100%'>
    <thead>
        <tr>
            <th>
                項目代號
            </th>
            <th>
                項目名稱
            </th>
            <th>
                加項/減項
            </th>
            <th>
                金額
            </th>
            <th>
                備註
            </th>
        </tr>
    </thead>
</table>

@section pagesection{
    <script charset="utf-8">
        // use a global for the submit and return data rendering in the examples
        $(document).ready(function () {

            var empEditor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '../emp/create',
                    },
                    edit: {
                        type: 'PUT',
                        url: '../emp/edit',
                    },
                    remove: {
                        type: 'POST',
                        url: '../emp/remove',
                    }
                },
                table: '#tbEmp',
                idSrc: 'ID',
                fields: [{
                    label: '工號',
                    name: 'EmpID'
                }, {
                    label: '姓名',
                    name: 'EmpName'
                }, {
                    label: '電話',
                    name: 'Tel'
                }, {
                    label: '手機',
                    name: 'Phone'
                }, {
                    label: '緊急連絡人',
                    name: 'ConPerson'
                }, {
                    label: '緊急連絡電話',
                    name: 'ConPersonTel',
                }, {
                    label: '建立日期',
                    name: 'CreateDate',
                    type: 'datetime',
                    def: function () { return new Date(); }
                }
                ],
                i18n: {
                    create: {
                        button: "create",
                        title: "新增點工人事資料",
                        submit: "新增"
                    },
                    edit: {
                        button: "edit",
                        title: "編輯點工人事資料",
                        submit: "更新"
                    },
                    remove: {
                        button: "delete",
                        title: "刪除新增點工人事資料",
                        submit: "刪除",
                        confirm: {
                            "_": "您確定要刪除 %d 筆資料?",
                            "1": "您確定要刪除 1 筆資料?"
                        }
                    }
                }
            });
            var tbEmp = $('#tbEmp').DataTable({
                language: {
                    url: "../Content/dataTables.Chinese.traditional.txt"
                },
                dom: 'lfrtipB',
                ajax: {
                    url: '../emp/get',
                    type: 'GET',
                },
                columns: [
                    { data: 'EmpID' },
                    { data: 'EmpName' },
                    { data: 'Tel' },
                    { data: 'Phone' },
                    { data: 'ConPerson' },
                    { data: 'ConPersonTel' },
                    { data: 'CreateDate' }
                ],
                select: {
                    style: 'single',
                    className: 'selected row-color'
                },
                displayLength: 5,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                buttons: [
                    {
                        extend: 'create',
                        text: '新增',
                        editor: empEditor,
                    },
                    {
                        extend: 'edit',
                        text: '修改',
                        editor: empEditor,
                        className: 'btn-warning'
                    },
                    {
                        extend: 'remove',
                        text: '刪除',
                        editor: empEditor,
                        className: 'btn-danger',
                        formMessage: function (editor, dt) {
                            var rowData = dt.row({ selected: true }).data();
                            return '您確定要刪除 ' + rowData.EmpName + ' 的資料？';
                        }
                    }
                ]
            });

            tbEmp.on('select', function (e, dt, type, indexes) {
                if (type === 'row') {
                    var data = tbEmp.rows(indexes).data().pluck('ID');
                    
                    // do something with the ID of the selected items
                }
            });

            var insEditor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '../ins/create',
                    },
                    edit: {
                        type: 'PUT',
                        url: '../ins/edit',
                    },
                    remove: {
                        type: 'POST',
                        url: '../ins/remove',
                    }
                },
                table: '#tbIns',
                idSrc: 'ID',
                fields: [{
                    label: '項目名稱',
                    name: 'InsID'
                }, {
                    label: '金額',
                    name: 'Price'
                }, {
                    label: '備註',
                    name: 'Remark'
                }],
                i18n: {
                    create: {
                        button: "create",
                        title: "新增點工人事資料",
                        submit: "新增"
                    },
                    edit: {
                        button: "edit",
                        title: "編輯點工人事資料",
                        submit: "更新"
                    },
                    remove: {
                        button: "delete",
                        title: "刪除新增點工人事資料",
                        submit: "刪除",
                        confirm: {
                            "_": "您確定要刪除 %d 筆資料?",
                            "1": "您確定要刪除 1 筆資料?"
                        }
                    }
                }
            });
            $('#tbIns').DataTable({
                language: {
                    url: "../Content/dataTables.Chinese.traditional.txt"
                },
                dom: 'lfrtipB',
                ajax: {
                    url: '../ins/get',
                    type: 'GET'
                },
                columns: [
                    { data: 'ID' },
                    { data: 'Price' },
                    { data: 'InsID' },
                    { data: 'EmpID' },
                    { data: 'Remark' }
                ],
                select: {
                    style: 'single',
                    className: 'selected row-color'
                },
                buttons: [
                    {
                        extend: 'create',
                        text: '新增',
                        editor: insEditor,
                    },
                    {
                        extend: 'edit',
                        text: '修改',
                        editor: insEditor,
                        className: 'btn-warning'
                    },
                    {
                        extend: 'remove',
                        text: '刪除',
                        editor: insEditor,
                        className: 'btn-danger',
                        formMessage: function (editor, dt) {
                            var rowData = dt.row({ selected: true }).data();
                            return '您確定要刪除 ' + rowData.EmpName + ' 的資料？';
                        }
                    }
                ]
            });
        });
    </script>
}