
@{
    ViewBag.Title = "點工人事資料";
}

<table id='example' class='table' cellspacing='0' width='100%'>
    <thead>
        <tr>
            <th>
                工號
            </th>
            <th>
                姓名
            </th>
            <th>
                電話
            </th>
            <th>
                手機
            </th>
            <th>
                緊急連絡人
            </th>
            <th>
                緊急連絡電話
            </th>
            <th>
                建立日期
            </th>
        </tr>
    </thead>
</table>

@section pagesection{
    <script charset='utf-8'>
        // use a global for the submit and return data rendering in the examples
        $(document).ready(function () {
            $('#example').DataTable({
                ajax: @Url.Action("Emp"),
                columns: [
                    { data: 'ID' },
                    { data: 'EmpID' },
                    { data: 'EmpName' },
                    { data: 'Tel' },
                    { data: 'Phone' },
                    { data: 'ConPerson' },
                    { data: 'ConPersonTel' },
                    { data: 'CreateDate' }
                ],
                select: true,
            });
        });
    </script>
}