
<div class="row">
    <div class="box">
        <div class="box-body">
            <div class="col-md-4 col-xs-12">
                <h2>全域人力管理系統</h2>
                <a href="@Url.Action("Index", "Employee")"><img src="~/Content/img/index.jpg" style="height: auto; width: 100%; padding: 20px;"></a>
            </div>
            <div class="col-md-2 col-xs-12"></div>
        </div>
    </div>
</div>