
@{
    ViewBag.Title = "請款明細表";
}

<table id="tMain" class="table table-hover" cellspacing="0" width="100%">
    <thead class="thead-inverse">
        <tr>
            <th>帳款年月</th>
            <th>業主代碼</th>
            <th>業主名稱</th>
            <th>工程名稱</th>
            <th>連絡人</th>
            <th>連絡人電話</th>
            <th></th>
        </tr>
    </thead>
    <tfoot class="thead-inverse">
        <tr>
            <th>帳款年月</th>
            <th>業主代碼</th>
            <th>業主名稱</th>
            <th>工程名稱</th>
            <th>連絡人</th>
            <th>連絡人電話</th>
            <th></th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>

<div>
    <label class="h4"></label>
</div>

<table id="tSecond" class="table table-hover" cellspacing="0" width="100%">
    <thead class="thead-inverse">
        <tr>
            <th colspan="3"></th>
            <th colspan="2">日薪(天)</th>
            <th colspan="2">加班時數(小時)</th>
            <th colspan="2">超時時數(小時)</th>
            <th></th>
        </tr>
        <tr>
            <th width="10%">日期</th>
            <th width="20%">單號</th>
            <th width="20%">工種</th>
            <th>數量</th>
            <th>金額</th>
            <th>數量</th>
            <th>金額</th>
            <th>數量</th>
            <th>金額</th>
            <th>合計</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section pagesection{
    <script>
        $(document).ready(function () {
            loadMainTable();
            //請款表格欄位點擊選擇事件
            $('#tMain tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $('#tSecond tbody tr').remove();
                }
                else {
                    $('#tMain tbody').children('.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                loadSecondTable();
            });
        });
        //讀取請款資料
        function loadMainTable() {
            $.ajax({
                url: '@Url.Action("getPayment")',
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $('#tMain tbody tr').remove();
                    $.each(data, function (index, item) {
                        if (item.ConPerson == null) {
                            item.ConPerson = '';
                        }
                        if (item.ConPersonTel == null) {
                            item.ConPersonTel = '';
                        }
                        $('#tMain tbody').append(
                            "<tr id='" + item.ID + "' year='" + item.Year + "' month='" + item.Month + "'>" +
                            "<td>" + item.Date + "</td>" +
                            "<td>" + item.OwnerID + "</td>" +
                            "<td>" + item.OwnerName + "</td>" +
                            "<td>" + item.BuildName + "</td>" +
                            "<td>" + item.ConPerson + "</td>" +
                            "<td>" + item.ConPersonTel + "</td>" +
                            "<td><input id='print' type='button' value='列印' class='btn btn-success btn-xs' /></td></tr >"
                        );
                    })
                    $('#tMain').DataTable({
                        language: {
                            url: "../Content/dataTables.Chinese.traditional.txt"
                        },
                        displayLength: 5,
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
                    });
                }
            });
        }
        //讀取請款明細資料
        function loadSecondTable() {
            var pos = 0, neg = 0, sum = 0;
            $.ajax({
		        url: '@Url.Action("getPayDetail")',
                type: 'GET',
                data: {
                    building: $('#tMain tbody tr.selected').attr('id'),
                    year: $('#tMain tbody tr.selected').attr('year'),
                    month: $('#tMain tbody tr.selected').attr('month')
                },
                dataType: "json",
                success: function (data) {
                    $('#tSecond tbody tr').remove();
                    $.each(data, function (index, item) {
                        $('#tSecond tbody').append(
                            "<tr id='" + item.ID + "'>" +
                            "<td>" + item.Date + "</td>" +
                            "<td>" + item.SerialNum + "</td>" +
                            "<td>" + item.WorkCate + "</td>" +
                            "<td>" + item.SalaryDay + "</td>" +
                            "<td>" + item.Salary + "</td>" +
                            "<td>" + item.OvertimeHr + "</td>" +
                            "<td>" + item.OvertimeSal + "</td>" +
                            "<td>" + item.OverOvertimeHr + "</td>" +
                            "<td>" + item.OverOvertimeSal + "</td>" +
                            "<td>" + item.Sum + "</td></tr>"
                        );
                    })
                }
            });
        }
        $('#tMain').on('click', '#print', function () {
            window.open(
                '/PrintList/PrintPayDetail?building=' + $(this).parent().parent().attr('id') +
                '&year=' + $(this).parent().parent().attr('year') +
                '&month=' + $(this).parent().parent().attr('month')
            );
        });
    </script>
}