
@{
    ViewBag.Title = "業主基本資料";
}

<style>
    tr.selected > td {
        background-color: #CCCCCC;
    }
</style>

<p>
    <input type="button" value="列印業主資料" class="btn btn-success" onclick="window.open('@Url.Action("Print")')" />
</p>

<table id="tOwner" class="table table-hover" cellspacing="0" width="100%">
    <thead class="thead-inverse">
        <tr>
            <th>編號</th>
            <th>名稱</th>
            <th>連絡電話</th>
            <th>傳真</th>
            <th>連絡人</th>
            <th>電話</th>
            <th>手機</th>
            <th>統一編號</th>
            <th>地址</th>
        </tr>
    </thead>
    <tfoot class="thead-inverse">
        <tr>
            <th>編號</th>
            <th>名稱</th>
            <th>連絡電話</th>
            <th>傳真</th>
            <th>連絡人</th>
            <th>電話</th>
            <th>手機</th>
            <th>統一編號</th>
            <th>地址</th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>

<input id="create" type="button" value="建立" class="btn btn-primary" data-toggle="modal" data-target="#modalDiv" />
<input id="edit" disabled="disabled" type="button" value="編輯" class="btn btn-warning" data-toggle="modal" data-target="#modalDiv" />
<input id="del" disabled="disabled" type="button" value="刪除" class="btn btn-danger " />

<div>
    <label class="h4"></label>
</div>

<table id="tBuilding" class="table table-hover" cellspacing="0" width="100%">
    <thead class="thead-inverse">
        <tr>
            <th>工地名稱</th>
            <th>連絡人</th>
            <th>電話</th>
            <th>地址</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section pagesection{
    <script>
        $(document).ready(function () {
            $.ajax({
		        url: '@Url.Action("getOwner")',
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $('#tOwner tbody tr').remove();
                    $.each(data, function (index, item) {
                        if (item.Tel == null) {
                            item.Tel = '';
                        }
                        if (item.Tel2 == null) {
                            item.Tel2 = '';
                        }
                        if (item.ConPerson == null) {
                            item.ConPerson = '';
                        }
                        if (item.ConPersonPhone == null) {
                            item.ConPersonPhone = '';
                        }
                        if (item.ConPersonTel == null) {
                            item.ConPersonTel = '';
                        }
                        if (item.Address == null) {
                            item.Address = '';
                        }
                        $('#tOwner tbody').append(
                            "<tr id='" + item.ID + "'><td>" + item.OwnerID + "</td>" +
                            "<td>" + item.OwnerName + "</td>" +
                            "<td>" + item.Tel + "</td>" +
                            "<td>" + item.Tel2 + "</td>" +
                            "<td>" + item.ConPerson + "</td>" +
                            "<td>" + item.ConPersonPhone + "</td>" +
                            "<td>" + item.ConPersonTel + "</td>" +
                            "<td>" + item.UnifiedNum + "</td>" +
                            "<td>" + item.Address + "</td></tr>"
                        );
                    })
                    $('#tOwner').DataTable({
                        language: {
                            url: "../Content/dataTables.Chinese.traditional.txt"
                        },
                        displayLength: 5,
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
                    });
                }
            });

            $('#tOwner tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $('#edit').attr('disabled', true);
                    $('#del').attr('disabled', true);
                }
                else {
                    $('#tOwner tbody').children('.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#edit').attr('disabled', false);
                    $('#del').attr('disabled', false);
                }
            });
        });
    </script>
}